{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard-with-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {},
  "parserOptions": {
    "project": ["./tsconfig.json"]
  }
}
